<%# Config %>
<% if next_type === "paragraph" || next_type === "list" || next_type === "subtitle" %>
  <% margin_bottom = "mb1" %>
<% else %>
  <% margin_bottom = "" %>
<% end %>
<% color = content.config.color %>
<%# End %>
<h2 class="js-content function-cb duration1 property-all o0 transform-tYm4 ma0 <%= margin_bottom %> roboto f3 fw4 <%= color %>"><%= content.subtitle %></h2>
