<%# Config %>
<% if next_type === "subtitle" || next_type === "paragraph" %>
  <% margin_bottom = "mb1" %>
<% else %>
  <% margin_bottom = "" %>
<% end %>
<%# End %>
<h1 class="js-content function-cb duration1 property-all o0 transform-tYm4 ma0 <%= margin_bottom %> roboto f4 fw4 black"><%= content.title %></h1>
